.actionButton {
  text-decoration: none;
  color: inherit;
  flex: 1;
  padding: 0.8rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--background-color);
  color: var(--accent);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  font-weight: 600;
}

.actionButton:hover {
  background-color: var(--hover);
}