.sectionHeader {
    position: sticky;
    top: 70px; /* Or top: 56px; if you have a fixed header */
    z-index: 10;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle {
    color: var(--color-text);
}

.sectionButton {
    background: var(--toggle-bg);
    color: var(--muted);
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    transition:
        background 0.2s,
        color 0.2s;
}

.sectionButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.isMainTitle {
    padding-left: 0px;
}
