.header {
      position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-height: 38px;
  margin: 8px 0;
  padding: 0rem 2rem;

  min-height: 38px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

