.prevNavBtn {
    margin-left: -18px;
    text-decoration: none;
    color: var(--accent);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.prevNavIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prevNavText {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}