.tileIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 14px;
    font-size: 1.3rem;
    transition:
        background 0.2s,
        box-shadow 0.2s;
}
