.tileContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;              /* <-- allow it to grow and fill horizontal space */
    padding: 0 16px;   
    width: 100%;
    height: 100%;
    padding: 10px;
}

.tileTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.tileDescription {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
}