.footerWrapper{
  justify-self: flex-end;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  color: var(--muted);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}